@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.Waiters.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Payer.Default.WaitersGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));

    });
</script>