@{
    //Layout = null;
    //ViewBag.Title = "PayButton";
    var amount=ViewBag.Amount;
    var phone = ViewBag.Phone;
}
<head>
    <meta name="viewport" content="width=device-width" />
  
</head>

<h1>hello</h1>

<h2>@amount</h2>
<h3>@phone</h3>

