@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.CustomerTables.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Payer.Default.CustomerTablesGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>